#table0 {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:500px;
     } 
 
 #table1 {
   border-collapse: collapse;
   width:100%;
   color: #588c7e;
   font-family: monospace;
   font-size: 18px;
   text-align: left;
     } 
  th {
   background-color: #588c7e;
   color: white;
    }
  tr:nth-child(even) {background-color: #f2f2f2}
  
  .button {
	  background-color: #4CAF50;
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16;
	  margin: 4px 2px;
	  cursor: pointer
	  
  }
